
.offer_text{
    margin-bottom: 20px;
    color: #777;
}
.main_hero_text{
    font-weight: 800;
    position: relative;

}

.shop_now_btn:hover{
        background-color: #6a7fd8;
        color: white;
        transition: 0.5s all;
}

.highlited::after{
    content: "";
    width: 48px;
    height: 60px;
    position: absolute;
    top: -50px;
    right: -30px;
    background-image: url("https://blueberry-react-next.maraviyainfotech.com/assets/img/hero/shape-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.highlited{
    position: relative;
}

.slider-dot{
    height: 15px;
    width: 15px;
    transform: skew(340deg);
    background-color: #4b5966;
    transition: all 2s ease-in-out;

}
.current-slider-dot{
    height: 15px;
    width: 30px;
    transform: skew(340deg);
    background-color: #6a7fd8;
    transition: all 2s ease-in-out;

}