.close-menu{
    position: relative;
    border: 0;
    font-size: 30px;
    line-height: 1;
    color: #ff0000;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.sidebar-outer{
    transition: all 0.3s ease-in-out;
    width: 340px;
    height: 100%;
    padding: 15px 20px 20px 20px;
    position: fixed;
    top: 0;
    right: auto;
    left: 0;
    background-color: #fff;
    /* -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 17;
    overflow: auto */
}

.sidebar-outer .sidebar-menu li{
    margin-bottom: 12px;
    padding: 12px 12px;
    display: block;
    text-transform: capitalize;
    color: #686e7d;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}

.logos ul li {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #3d4750;
    border-radius: 10px;
}